---
import BaseLayout from "@/layouts/BaseLayout.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.id },
        props: post,
    }));
}

const post = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title} description={post.data.description}>
    <div class="py-10 container">
        <article class="prose mx-auto">
            <FormattedDate
                date={post.data.publishedDate}
                class="mt-2 text-sm text-muted-foreground"
            />
            <h1 class="mt-2">{post.data.title}</h1>
            <Content />
        </article>
    </div>
</BaseLayout>
