---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
    title="サーバーエラー"
    description="サーバーエラーが発生しました。復旧までしばらくお待ちください。"
>
    <div class="container py-10">
        <p class="leading-none sm:text-lg">500</p>
        <h1 class="mt-1 text-xl sm:text-2xl font-bold leading-[1.4]">サーバーエラーが発生しました</h1>
        <p class="mt-8 leading-[1.7]">復旧までしばらくお待ちください。</p>
    </div>
</BaseLayout>
